body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Helvetica Now Micro', sans-serif;


}
h2, p {
    font-family: 'Helvetica Now Text', sans-serif;
    animation: fadeIn 1s ; /* Pievienojam fadeIn animāciju */

}

p {
    font-size: 25px;
    text-align: justify;
    margin-bottom: 20px;
    position: relative;
}

.video-container {
    position: relative;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

.navbar {
    background-color: white; /* Set default transparent background */
    top: -20px;
    left: 0;
    width: 100%;
    z-index: 2; /* Ensure it's above the video */
    position: fixed;

}

.nav-link {
    font-weight: bold;
    font-size: 14px;
    text-transform: uppercase;
    text-decoration: none;
    color: black;
    padding: 20px 0px;
    margin: 0px 20px;
    display: inline-block;
    position: relative;
    opacity: 1;
}



.canbera {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    position: absolute;
    bottom: 10px; /* Position at the bottom of the parent container */
    left: 0; /* Position at the left of the parent container */
    transform: translate(0, 0); /* Reset the translation */
    z-index: 1;
    text-align: left; /* Align text to the left */
    color: #fff; /* Adjust text color for better visibility */
    padding-left: 20px; /* Add padding for better styling (optional) */
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow */

}

.title1 {
    font-size: 70px;
}

.subt1{
    font-size: 35px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow */

    
}

/*pirms eiropiesu ierasanas*/

.before-europe {
    position: relative;
    height: 80vh; /* Adjust height as needed */
    overflow: hidden;
}

.content2 {
    display: flex;
    justify-content: space-between;
    opacity: 1;
    transform: translateY(20px);
}

.title2 {
    font-size: 35px; /* Adjust the font size as needed */
    text-align: left;
    padding-left: 20px;
    padding-top: 40px;
}

.subt2{
    text-align: justify;
    padding-right: 20px;
    padding-top: 40px;
        font-size: 25px;
}

.hunt{
    max-width: 500px;
    position: relative;
    left: 20px;
    top:20px;
}

.subt21 {

    padding-left: 783px;
    padding-right: 20px;
    bottom: 400px;

}

.content21 {
    opacity: 1;
    transform: translateY(10px);
    font-size: 25px;
    text-align: justify;
    padding-right: 20px;
}




/*australijas kolonizacija*/
.aus-colonization {
    position: relative;
    height: 200vh; /* Adjust height as needed */
    overflow: hidden;
    background-color: #333;
}
.title3 {
    font-size: 35px; /* Adjust the font size as needed */
    text-align: center;
    padding-top: 28px;
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow */

}

.subt3{
    text-align: center;
    font-size: 25px;
    color: white;
    position: relative;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow */

}



/* Updated CSS */

.europiesi-container{
position: relative;
}

.europiesi {
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: 500px;
    height: auto;
    object-fit: cover;
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */

}

.text-overlay1 {
    opacity: 1; /* Initially set opacity to 0 (hidden) */
    color: white;
    position: absolute;
    bottom: 15px;
    left: 500px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional: text shadow for readability */

}

.text-overlay2 {
    opacity: 1; /* Initially set opacity to 0 (hidden) */
    color: white;
    position: absolute;
    bottom: 50px;
    left: 500px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional: text shadow for readability */

}



/*Pirmas kolonijas*/



.first-colonies{
    position: relative;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

.artur {

    height: auto;
    object-fit: cover;
    display: block; /* Remove any extra spacing below the image */
    margin: 0 auto; /* Center the image horizontally */
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
    cursor: pointer;

}




/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 200px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
  }

  /* 100% Image Width on Smaller Screens */
  @media only screen and (max-width: 700px){
    .modal-content {
      width: 100%;
    }
  }






.title4 {
    font-size: 35px; /* Adjust the font size as needed */
    text-align: center;
    padding-top: 28px;
}

.subt4{
    font-size: 25px; /* Adjust the font size as needed */
    text-align: center;
    
}

.image-row {
    align-items: center;
    text-align: center;
    position: relative;
    display: flex;
}

.image-container {
    /* flex: 1; */
    margin: 0 px;
    position: relative;
}

.image-container img {
    width: 50%;
    height: auto;
    padding-bottom: 10px;

    
}

#countdownTimer {
    font-size: 10px;
    color: red;
    position: fixed; /* Fixed position relative to the viewport */
    background-color: white; /* Optional: for better visibility */
    padding: 10px;   /* Optional: for better spacing */
    border-radius: 5px; /* Optional: for rounded corners */
    box-shadow: 0 2px 4px rgba(0,0,0,0.3); /* Optional: for a subtle shadow */
    z-index: 1000;   /* Ensure it's above other content */
    bottom: 10px;
    left: 1300px;
}


.image-text-overlay {
    position: absolute; /* Absolutely position the overlay in relation to its parent */
    top: 50%; /* Position the top edge of the element in the middle of the parent */
    left: 50%; /* Position the left edge of the element in the middle of the parent */
    transform: translate(-50%, -50%); /* Offset the element by half its own width and height to center it */
    color: black; /* Set the text color */
    text-align: center;

    background-color: rgba(255, 255, 255, 0.7); /* White background with 70% opacity */
    color: #000000; /* Darker text color for contrast */
    font-size: 4em; /* Adjust as needed */
    padding-right: 1em;
    padding-left: 1em;
    font-weight: bold; /* Makes the text bold */
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Optional: text shadow for readability */
    border-radius: 5px; /* Rounds the corners of the overlay */
    pointer-events: none; /* Ensures the overlay doesn't interfere with clicking the image */

}



    /*Federacijas un Neatkariba*/
    .federation {
        display: grid;
        grid-template-rows: auto auto auto auto; /* Adjust as needed */
        grid-template-columns: 1fr 1fr; /* Two columns */
        grid-template-areas: 
            "title empty"
            "text1 img1"
            "text2 img2"
            "text3 img3";
        position: relative;
        overflow: hidden;
        background-color: #333;
        column-gap: 50px;   

    }

    



    .titlef-container{
        grid-area: title;
        font-size: 35px; /* Adjust the font size as needed */
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Add text shadow */
        color: white;
 
    }

    .subtf-container {
        grid-area: text1;
    }

    .subtf1-container {
        grid-area: text2;
    }

    .subtf2-container {
        grid-area: text3;
    }

    .img-europiesi {
        grid-area: img1;
    }

    .img-europiesi1 {
        grid-area: img2;
    }

    .img-europiesi2 {
        grid-area: img3;
    }


    .titlef {
        padding-left: 20px  ;
    }

    .subtf {
        text-align: justify;
        font-size: 25px;
        color: white;
        text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); 
        padding-left: 20px;
    }


.europiesi1 {
    max-width: 600px;
    padding: 20px;

}


/*Musdienu Australija*/

.musdienu {
    position: relative;
    height: 100vh; /* Adjust height as needed */
    overflow: hidden;
}

/*GALLERY*/
* {box-sizing: border-box;}

.picture {
  position: relative;
  width: 100%;
  max-width: 450px;
  top:20px;
  left: 70px;
  display: inline-block;
}

.aus{
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute; 
  bottom: 0; 
  background: rgb(0, 0, 0);
  background: rgba(0, 0, 0, 0.5); /* Black see-through */
  color: #f1f1f1; 
  width: 100%;
  opacity:1;
  color: white;
  font-size: 20px;
  padding: 20px;
  text-align: center;
}


.austext{
    text-align: center;
    top: 10px;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
}


/* Popup styles */
.popup-container {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(82, 82, 82);
    z-index: 9999;
}

.popup-content {
    background-color: #c6c4c4;
    max-width: 1000px;
    margin: 100px auto;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.popup-content p {
    text-align: center;
}

/* Button style */
#start-button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

#start-button:hover {
    background-color: #0056b3;
}

.highlight-yellow {
    border-radius: 1em 0 1em 0;
    background-image: linear-gradient(
      -100deg,
      rgba(255, 224, 0, 0.2),
      rgba(255, 224, 0, 0.7) 95%,
      rgba(255, 224, 0, 0.1)
    );
}

.highlight {
    background-image: linear-gradient(to right, #F27121cc, #E94057cc, #8A2387cc);
    border-radius: 6px;
    padding: 3px 6px;
  }


/* Media query for responsive design */
@media only screen and (max-width: 600px) {
    nav a {
        float: none;
        width: 100%;
        text-align: center;
    }
}
